[Unit]
Description=UJIN Tech System Service
After=network.target sound.target

[Service]
User=root
ExecStart=/usr/bin/ujind
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
