[Unit]
Description=UJIN Tech System Service
After=network.target sound.target

[Service]
User=root
ExecStartPre=-/bin/sleep 3
ExecStart=/usr/bin/ujind
# Restart=on-failure
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
